.Resumen__main-container {
  display: flex;
  flex-direction: column;
}

.Resumen__container {
  display: flex;
  justify-content: center;
  div {
    width: 800px;
    h1 {
      font-size: 36px;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .Resumen__container div {
    width: 95%;
  }
}
