$width-form: 352px;
.main-container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  margin: 0;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  display: grid;
  grid-template-areas: "picture title" "picture form";
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
}

.footer {
  grid-area: footer;
  background-color: green;
  width: 100%;
  height: 80px;
}

.picture {
  grid-area: picture;
  display: flex;
  justify-content: center;
  align-items: start;
  .container {
    width: 500px; /* Tamaño del contenedor */
    height: 600px; /* Tamaño del contenedor */
    border-radius: 25px;
    overflow: hidden; /* Oculta el exceso */
    position: relative;
    img {
      width: 180%; /* Imagen más grande que el contenedor */
      height: auto;
      object-fit: cover; /* Ajusta el tamaño manteniendo el aspecto */
      object-position: center; /* Muestra el centro de la imagen */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scaleX(-1); /* Centra la imagen */
    }
  }
}

.title {
  grid-area: title;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $width-form;
    gap: 10px;
    span {
      background: linear-gradient(to right, #00f4de, #01ff83);
      font-weight: bold;
      padding: 5px;
      border-radius: 5px;
      width: 180px;
      text-align: center;
    }
  }
}

.form {
  grid-area: form;
  .container {
    width: $width-form;
    display: flex;
    flex-direction: column;

    gap: 15px;
    p {
      font-size: 14px;
    }
    button {
      width: 200px;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
      border-radius: 30px;
      background-color: black;
      color: white;
      position: relative;
      overflow: hidden;
      border: 2px solid transparent;
      transition: color 0.4s, border-color 0.4s;
      z-index: 1;
      &:hover {
        color: black;
        background-color: white;
        border-color: black;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

/* fin grid content */

.form,
.title {
  display: flex;
  justify-content: center;
}

.input-container-form {
  border: 1px solid gray;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 0;
  display: flex;
  select {
    margin: 0;
    width: 40%;
    box-sizing: border-box;
  }
  input {
    margin: 0;
    width: 60%;
    box-sizing: border-box;
  }
}

.input-form {
  border: 1px solid gray;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
}

.policies {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;

  label {
    display: flex;
    align-items: center;
  }
  a {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  accent-color: #242424;
}

@media (max-width: 768px) {
  .content {
    grid-template-areas: "title picture" "form form";
    grid-template-columns: 60% 1fr;
    grid-template-rows: 30% 1fr;
  }

  .picture {
    grid-area: picture;

    display: flex;
    justify-content: center;
    align-items: start;
    .container {
      width: 160px; /* Tamaño del contenedor */
      height: 200px; /* Tamaño del contenedor */
      border-radius: 25px;
      overflow: hidden; /* Oculta el exceso */
      position: relative;
      img {
        width: 180%; /* Imagen más grande que el contenedor */
        height: auto;
        object-fit: cover; /* Ajusta el tamaño manteniendo el aspecto */
        object-position: center; /* Muestra el centro de la imagen */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX(-1); /* Centra la imagen */
      }
    }
  }
  .title .container,
  .form .container {
    margin: 10px;
    width: auto;
  }

  .form .container button {
    width: 100%;
  }
}
