.plan-card__container {
  cursor: pointer;
  border-radius: 24px;
  padding: 16px 24px 40px;
  display: block;
  width: 150px;
  span {
    font-size: 12px;
  }
}


@media (max-width: 768px) {
  .plan-card__container {
    width: 350px;  
  }
}