body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(45deg, #DD93FF -50%,white 50%, #8ec5fc 200%); */
  background-color: white;
  font-family: 'BR Sonoma', sans-serif;
}